* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4)
    ),
    url(../Images/interior.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  height: 100vh;
  background-repeat: no-repeat;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.main-one {
  max-width: 75rem;
  margin: 0 auto;
}
.navbar,
.part-seconde ,.part-second {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&display=swap");
.part-seconde h1 {
  font-family: "League Spartan", sans-serif;
}
.space {
  margin-top: 4rem;
}

nav {
  display: flex;
  border-bottom: 3px solid #ffffff;
}
.nav-item,
.third-one {
  margin: 14px;
  padding-right: 20px;
}
@media screen and (max-width: 667px) {
  html,body{
    margin: 0;
    left: 0;
    right: 0;
    position: relative;
    background-image: url('../Images/interior.jpg');
    height: 120vh;
    background-size: cover;
    object-fit: cover;
    position: absolute;
    background-repeat: no-repeat;
   
   
  }
  .main-one {
    max-width: 50rem;
    margin: 0 auto;
  }
  .navbar {
    overflow-x: scroll;
  }
  .navbar nav .third-one {
    width: 250px;
  }
  .navbar nav {
    border-bottom: 3px solid #ffffff;
    margin-left: 3rem;
  }
  .navbar nav :first-child {
    width: 120px;
  }

  .navbar .logo {
    width: 120px;
    height: 3rem;
  }
  .part-seconde  h1 {
    font-size: 2rem;
    width: 90vw;
  }
  .part-seconde {
    display: flex;
    flex-direction: column-reverse;
    gap: 6rem;
  }
  .part-seconde .back-shadow .circle-line .circle {
    background-color: #ba4343;
  }
  .part-seconde .back-shadow:last-child .circle-line {
    right: 4rem;
  }
  .part-second .circle-line_ .circle {
    background-color: #8f2e2e;
  }
  .part-second .back-shadow-two:last-child .circle-line_ {
    transform: rotate(-90deg);
  }
  .part-seconde .back-shadow {
    max-width: 12rem;
    min-height: 6rem;
  }
  .part-second .back-shadow-two {
    max-width: 12rem;
    max-height: 14rem;
    right: -0.1rem;
    margin-top: 2rem;
  }

  .back-shadow-two:last-child .circle-line_ {
    left: -2.3rem;
    top: 0;
  }
  .part-seconde .heading {
    font-size: 2rem;
  }
  .part-second h3 {
    padding: 0.6rem 0;
    max-width: 9rem;
    height: 50px;
    font-size: 20px;
  }

}

.pic {
  background-color: #fff;
  width: 7rem;
  height: 3rem;
  border-radius: 15px;
  text-align: center;
}
.back-shadow {
  box-shadow: 0px 1px 1px 0 rgba(29, 26, 26, 0.2);
  max-width: 16rem;
  max-height: 15rem;
  min-height: 10rem;
  background-color: rgb(54, 54, 59);
  padding: 1rem 1.6rem;
  position: relative;
}
.back-shadow img {
  height: 4.9rem;
}

.back-shadow-two {
  box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.4);
  max-width: 16rem;
  max-height: 15rem;
  min-height: 10rem;
  background-color: rgb(54, 54, 59);
  position: relative;
  padding: 1rem 1.6rem;
  right: 30%;
}
.back-shadow-two img {
  height: 4.9rem;
}
h1 {
  font-size: 3.5rem;
}
h3 {
  padding: 0.5rem 0;
  text-align: center;
  width: 300px;
  height: 60px;
  border-radius: 25px;
  font-size: 30px;
  border: 2px solid #fff;
}

.back-shadow-two:last-child .circle-line_ {
  position: absolute;
  height: 75px;
  width: 4px;
  right: -2.3rem;
  top: 0;
  background-color: #ffffff;
  transform: rotate(90deg);
}

.back-shadow:last-child .circle-line {
  position: absolute;
  height: 70px;
  width: 2px;
  background-color: #ffffff;
  bottom: -4rem;
  transform: rotate(180deg);
}

.circle-line_ .circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #ffffff;
  top: 0;
  left: -8px;
}

.circle-line .circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #ffffff;
  top: 0;
  left: -8px;
}
